body{
    margin: 0;
    padding: 0;
}
.board {
    display: inline-block;
    width: 400px;
    margin: auto
}

.info {
    display: inline-block;
    position: relative;
    top: -200px;
    min-width: 25%;
    max-width: 25%;
    margin-left: 5%;
    margin-right: 2%;
    background: #874647;
    padding: 1.5%;
    border: 5px solid #00ff9a;
    border-radius: 2%;
    color: white;
    box-shadow: -10px 20px 10px #292929;
}

.info select{
    background: #6270a4;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    width: 50px;
}

.info span, .info label{
    font-size: 24px;
    padding: 1%;
}

.move-history {
    display: inline-block;
    /* position: relative; */
    top: -200px;
    font-size: 24px;
    max-width: 20%;
    margin-left: 5%;
    margin-right: 2%;
    background: #874647;
    padding: 1.5%;
    border: 5px solid #00ff9a;
    border-radius: 2%;
    color: white;
    box-shadow: -10px 20px 10px #292929;
    /* display: inline-block; */
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

#state .state{
    font-size: 50px;
    position: absolute;
    padding: 0;
    font-weight: 700;
    top: 82%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

#thinking .loader{
    font-size: 24px;
    position: absolute;
    padding: 0;
    font-weight: 700;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

}

#waiting{
    font-size: 50px;
    position: absolute;
    padding: 0;
    font-weight: 700;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

#thinking .loader h1{
    margin-top: 0;
    margin-right: 10px;
    animation: loading 1.1s linear infinite;
}

/* Creating the dots */
#thinking span{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #1d1d1d;
    animation: loading 1s linear infinite;
}

/* Creating the loading animation*/
@keyframes loading {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0);
    }

}
#thinking span:nth-child(1){
    animation-delay: 0.1s;
}
#thinking span:nth-child(2){
    animation-delay: 0.2s;
}
#thinking span:nth-child(3){
    animation-delay: 0.3s;
}
#thinking span:nth-child(4){
    animation-delay: 0.4s;
}
#thinking span:nth-child(5){
    animation-delay: 0.5s;
}

@media screen and (max-width: 670px){
    .info{
        display: flex;
    }

    .board{
        display: flex;
    }
}